.container {
    margin-top: 7%;
}

.login-container {
    width: 300px;
}

.credentials {
    margin-left: 2%;
}

.btn.btn-primary {
    float: right;
}

.order-list-container {
    width: 80%;
}

.remove-col {
    width: 20px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn.btn-primary.a-btn-slide-text.btn-add{
    border-radius: 4px;
    float: left;
}

.btn.btn-primary.btn-save{
    width: 100%;
}

.container.logout-container{
    margin-bottom: 10px;
}
